/* Register.css */

/* Contenedor principal centrado */
.register-container {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
  border-radius: 12px;
  padding: 2.5rem 2rem;
  margin: 50px auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
}

/* Formulario */
.register-form {
  display: flex;
  flex-direction: column;
}

/* Título */
.register-title {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #1f2937; /* gris oscuro */
  font-size: 1.8rem;
  font-weight: 600;
}

/* Contenedor de inputs en fila */
.input-row {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Cada input individual */
.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* Inputs y select */
.input-field,
select {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 1px solid #cbd5e1;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
}

.input-field:focus,
select:focus {
  border-color: #00BCE4; /* azul */
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
}

/* Label para select */
.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #1f2937;
  display: block;
}

/* Botón de registro */
.register-button {
  margin-top: 1rem;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  background-color: #00BCE4; /* azul */
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.register-button:hover {
  background-color: #00BCE4; /* azul más oscuro */
}

/* Link de login */
.login-link {
  margin-top: 1rem;
  text-align: center;
}

.login-link a {
  color: #0e0e0f;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}
